html,
body {
    margin: 0;
}

html {
    background: url("chrome://global/skin/media/imagedoc-darknoise.png") fixed;
}

.background {
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    inset: 0;
    cursor: zoom-in;
}

.ve-button {
    display: block;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 3px;

    opacity: .93;
    background-color: dimgray;
    text-align: center;
    vertical-align: bottom;
    white-space: normal;

    color: white;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    cursor: pointer;
}
.ve-button:hover{
    background-color: grey;
}

.ve-title {
    position: fixed;
    bottom: 2%;
    left: 50%;
    max-width: 50vw;
    transform: translateX(-50%);

    text-overflow: ellipsis;
    color: white;
    font-family: 'Noto Sans';
    font-size: 30px;

    p {
        margin: 0 0;
    }
}

.ve-subtitle {
    font-size: 15px;
}
