html,
body {
    margin: 0;
}

body {
    background-position: center;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.container {
    position: fixed;
    bottom: 2%;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);

    display: grid;
    grid-auto-flow: column;
}

.ve-button {
    display: block;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 3px;

    opacity: .93;
    background-color: dimgray;
    text-align: center;
    vertical-align: bottom;
    white-space: normal;

    color: white;
    font-family: 'Noto Sans';
    font-size: 30px;
    cursor: pointer;
}

.ve-button-hover:hover{
    background-color: grey;
}

.ve-button-max {
    cursor: default;
    color: #8c8c8c;
}

.ve-title {
    text-overflow: ellipsis;
    color: white;
    font-family: 'Noto Sans';
    font-size: 30px;
}

.background {
    position: absolute;
    width: 100%;
}
