html,
body {
    margin: 0;
}

body {
    background-position: center;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.title {
    position: fixed;
    bottom: 2%;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);

    padding: 5px 15px;
    border-radius: 3px;

    opacity: .93;
    background-color: dimgray;
    text-align: center;
    vertical-align: bottom;
    white-space: normal;
    text-overflow: ellipsis;
    color: white;
    font-family: 'Noto Sans';
    font-size: 30px;
}

.background {
    position: absolute;
    width: 100%;
}

