[Unit]
Description=Visible Earth Scraping
PartOf=visible-earth.service
After=visible-earth.service

[Service]
ExecStart=python /home/chaeck/Documents/Websites/VisibleEarthHomepage/visible_earth.py
WorkingDirectory=/home/chaeck/Documents/Websites/VisibleEarthHomepage
Restart=on-failure

[Install]
WantedBy=visible-earth.service
